<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.mapper.MaterialsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wechat.entity.Materials">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="selling_price" property="sellingPrice" />
        <result column="original_price" property="originalPrice" />
        <result column="quantity" property="quantity" />
        <result column="image_url" property="imageUrl" />
        <result column="tn_image_url" property="tnImageUrl" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, selling_price, original_price, quantity, image_url, tn_image_url, create_date, update_date
    </sql>

</mapper>
